{% extends 'shared/layout.html' %}
{% load static %}
{% block icon %}{% static 'pics/image (1).png' %}{% endblock  %}
{% block header %}Mi Perfil{% endblock  %}
<!--SIDEBAR-->
{% block icon1 %}{% static 'pics/user.png' %}{% endblock  %}
{% block menu1 %}Perfil{% endblock  %}
{% block menunom1 %}Perfil{% endblock  %}
{% block url1 %}{%url 'perfil3' user.id%}{% endblock  %}

{% block icon2 %}{% static 'pics/print.png' %}{% endblock  %}
{% block menu2 %}Cargar Archivos{% endblock  %}
{% block menunom2 %}Cargar Archivos{% endblock  %}
{% block url2 %}{%url 'formatos2' user.id%}{% endblock  %}

{% block icon3 %}{% static 'pics/notes.png' %}{% endblock  %}
{% block menu3 %}Carta{% endblock  %}
{% block menunom3 %}Carta{% endblock  %}
{% block url3 %}{%url 'cartas2' user.id%}{% endblock  %}

{% block icon4 %}{% static 'pics/chart.png' %}{% endblock  %}
{% block menu4 %}Seguimiento{% endblock  %}
{% block menunom4 %}Seguimiento{% endblock  %}
{% block url4 %}{%url 'reportes2' user.id%}{% endblock  %}

{% block icon5 %}{% static 'pics/imbox.png' %}{% endblock  %}
{% block menu5 %}Repositorio{% endblock  %}
{% block menunom5 %}Repositorio{% endblock  %}
{% block url5 %}{%url 'repositorio2' user.id%}{% endblock  %}
<!--CONTENT-->
{% block content %}

<div class="container">
    <br>
    <h2>Plantillas de Documentos Solicitados</h2>
 
    <br>
    <div class="">
        <table class="table">
            <thead class="thead-dark">
              <tr class="table-dark">
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Última Actualización</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              {% for plantilla in formatos %}
              <tr>
                <th scope="row">{{plantilla.id}}</th>
                <td>{{plantilla.nombre}}</td>
                <td>{{plantilla.fechareg|date:"d-m-Y"}}</td>
                <td><div>
                    <a href="{{plantilla.file.url}}" class="btn btn-success btn-sm" download>Descargar</a>
                </div></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          
    </div>
</div>

{% endblock  %}